.git
.github
**/node_modules
**/__pycache__
openclaw/debug
openclaw/dist
openclaw/*.db
openclaw/*.docx
openclaw/*.jpg
openclaw/*.js
openclaw/*.log
openclaw/*.mp3
openclaw/*.pdf
openclaw/*.png
openclaw/*.pptx
openclaw/*.txt
openclaw/docker/README.md
openclaw/docker/local_up.sh
